* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #141414;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

.play__button {
    position: absolute;
    top: 90%;
    left: 45%;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 64px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.play__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.play__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
}

.play__button:hover {
    color: #fff;
}

.play__button:hover:after {
    width: 100%;
}

.main__content h1 {
    justify-self: center;
    font-size: 6rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.menu__container {
    color: #fff;
}

.info__container {
    position: absolute;
    top: -1000px;
    left: 15%;
    transition: all 1s ease;
}

.info__container.active {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 15%;
    transition: all 0.75s ease;
}

.info__container p {
    font-size: 16px;
}

.info__button {
    position: absolute;
    top: 90%;
    left: 15%;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 64px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.info__button p {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.info__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
}

.info__button:hover {
    color: #fff;
}

.info__button:hover:after {
    width: 100%;
}

.diff__container {
    position: absolute;
    top: -1000px;
    left: 75%;
    transition: all 1s ease;;
}

.diff__container.active {
    display: block;
    visibility: visible;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 75%;
    transition: all 0.75s ease;
}

.diff__button {
    position: absolute;
    top: 90%;
    left: 75%;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.diff__button p {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.diff__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
}

.diff__button:hover {
    color: #fff;
}

.diff__button:hover:after {
    width: 100%;
}

.highscore__container {
    font-size: 1rem;
    position: absolute;
    top: 32px;
    left: 75%;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #1808ff 0%, #99ceff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}