* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #141414;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.play__button {
    position: absolute;
    top: 90%;
    left: 45%;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 64px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.play__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.play__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
}

.play__button:hover {
    color: #fff;
}

.play__button:hover:after {
    width: 100%;
}

.main__content h1 {
    justify-self: center;
    font-size: 6rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.menu__container {
    color: #fff;
}

.info__container {
    position: absolute;
    top: -1000px;
    left: 15%;
    transition: all 1s ease;
}

.info__container.active {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 15%;
    transition: all 0.75s ease;
}

.info__container p {
    font-size: 16px;
}

.info__button {
    position: absolute;
    top: 90%;
    left: 15%;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 64px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.info__button p {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.info__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
}

.info__button:hover {
    color: #fff;
}

.info__button:hover:after {
    width: 100%;
}

.diff__container {
    position: absolute;
    top: -1000px;
    left: 75%;
    transition: all 1s ease;;
}

.diff__container.active {
    display: block;
    visibility: visible;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 75%;
    transition: all 0.75s ease;
}

.diff__button {
    position: absolute;
    top: 90%;
    left: 75%;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.diff__button p {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.diff__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
}

.diff__button:hover {
    color: #fff;
}

.diff__button:hover:after {
    width: 100%;
}

.highscore__container {
    font-size: 1rem;
    position: absolute;
    top: 20%;
    left: 75%;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #1808ff 0%, #99ceff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
    
    .highscore__container {
        position: absolute;
        top: 20%;
        left: 20%;
    }

    .main__img--container img {
        width: 75%;
        height: 75%;
    }

    .play__button {
        left: 40%;
        padding: 5px 16px;
    }

    .info__button {
        left: 2%;
        padding: 5px 32px;
    }

    .diff__button {
        position: absolute;
        left: 69%;
        padding: 5px;
    }

    .diff__button p {
        position: relative;
        right: 2%;
    }

    .diff__container.active {
        position: absolute;
        top: 40%;
        left: 75%;
    }

    .info__container.active {
        position: absolute;
        top: 40%;
        left: 2%;
    }

    .info__container p {
        font-size: 8px;
    }
}